<!-- Put your HTML HERE, make sure to connect your style.css sheet -->
<!doctype html>

<html ng-app="quoteBook">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-controller="mainCtrl">
  
<div class ="list" ng-repeat="quote in quotes | filter : {author: filterAuthor}">
  <h3>{{quote.author}}</h3>
  <p>{{quote.text}}</p>
</div>

<div>
 <input type="text" placeholder="Add Quote" ng-model="addQuote.text"/>
 <input type="text" placeholder="Add Author" ng-model="addQuote.author"/>
 <button ng-click="addQuote()" ng-if="addQuote.text">Add Quote</button>
</div>

<div>
 <input type="text" placeholder="Remove Quote" ng-model="removeItem" />
 <button ng-click="removeQuote()" ng-if="removeItem">Remove Quote</button>
</div>

<div>
 <input type="text" placeholder="Find Author" ng-model="filterName" />
 <button ng-click="filterQuote()">Filter Quote</button>
</div>

 
  
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/mainCtrl.js"></script>
  <script type="text/javascript" src="js/dataService.js"></script>
</body>
</html>